{% extends 'base.html' %}

{% block header_block %}
<title>about</title>
{% endblock header_block %}

{% block body_block %}
<div class="jumbotron">
    <div class="editable">
        <h1>about us</h1>
        
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium odit fugiat, quas atque quod omnis. Perferendis magni odio rem, omnis veritatis assumenda reprehenderit ipsa aspernatur harum. Nihil sequi animi veniam!</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium odit fugiat, quas atque quod omnis. Perferendis magni odio rem, omnis veritatis assumenda reprehenderit ipsa aspernatur harum. Nihil sequi animi veniam!</p>
    </div>
</div>
{% endblock body_block %}
